.section{
    width: 80%;
    margin: auto;
    background-color: var(--bg-section);
    padding-bottom: 20px;
}
/*Inicio*/
.section__content_title, .section__results{
    width: 95%;
    margin:auto;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(185, 175, 175, 0.608);
}

.section__title{
    font-size: 30px;
}

.section__results{
    padding: 10px 0px;
}

.section__products{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 20px;
}

.product{
    height: 400px;
    background-color: rgba(255, 255, 255, 0.786);
    border-radius: 3px;
    border: 2px solid rgb(218, 213, 213);
}

.product__content_img{
    width: 100%;
    height: 250px;
}

.product__img{
    width: 100%;
    height: 100%;
}

.product__details{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.product__add{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(111, 216, 13);
    transition: all .5s;
    margin-bottom: 10px;
}

.product__add:hover{
    background-color: rgb(82, 158, 11);
}

/*Paginas*/
.pages{
    margin: 0px auto;
    width: 200px;
    background-color: rgb(164, 225, 106);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.pages__number{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: white;
    border-left: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.pages__number--check{
    border-left: none;
    background-color: rgb(111, 216, 13);
    border-radius: 5px 0px 0px 5px;
}


/*Sobre Nosotros*/
.about{
    background-color: transparent;
    font-family: var(--font-about);
}

.about__content_title{
    background-color: rgb(215, 242, 189);
    padding: 10px;
}

.about__title{
    font-family: "Agency FB";
    font-size: 28px;
    color: var(--color-section-title);
}

.about__info{
    margin: 20px 0px;
    padding: 10px 20px;
    background-color: white;
}

.about__subtitle{
    font-size: 25px;
    padding: 10px 0px;
    color: var(--color-subtitle);
}

.about__paragraph{
    color: var(--color-paragraph);
    font-family: "Agency FB";
    font-size: 20px;
    padding: 10px 0px;
}

.about__value{
    margin-left: 20px;
}

@media only screen and (max-width: 426px) {
    .section{
        width: 90%;
    }
}