.header{
    width: 100%;
    height: 220px;
    color: white;
    background-color: var(--bg-gray);
}

.nav{
    width: 100%;
    height: 100%;
    position: relative;
}

.nav__head{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.logo{
    font-family: var(--font-logo);
    color: var(--color-green);
}

.logo__link{
    width: 180px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo__link .logo__title{
    font-size: 40px;
}

.contactos{
    width: 210px;
}

.contactos__phone{
    color: white;
}

.contactos__links{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactos__links .contactos__link{
    color: white;
    text-decoration: none;
}

.contactos__links .contactos__link:hover{
    color: var(--color-green);
}

.navbar{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--color-green);
}

.navbar li{
    list-style: none;
}

.navbar__link{
    display: inline-block;
    height: 100%;
    padding: 16px 0px;
    width: 150px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: color .5s, background .5s;
}

.navbar__link:hover{
    background-color: white;
}

.nav__btn{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    display: none;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 50px;
}

/* Nav Search */
.nav__search{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.input__content{
    background-color: var(--color-green);
    color: black;
    position: relative;
    display: flex;
    align-items: center;
}

.nav__input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 2px;
}

.input__icon{
    position: absolute;
    right: 10px;

}

/*Cart*/
.cart{
    background-color: rgb(111, 216, 13);
    width: 80px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    font-size: 20px;
}

.cart__button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.cart__counter{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__content{
    width: 320px;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 0;
    color: black;
    display: none;
    box-shadow: 0px 0px 12px -5px black;
}

.cart__content.view{
    display: block;
    z-index: 3;
}

.cart__title{
    width: 100%;
    padding: 25px 20px;
    border-bottom: 1px solid rgb(180, 178, 178);
    font-size: 25px;
}

.cart__message{
    padding: 25px 20px;
}

.cart__products{
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
}

.cart__product{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(220, 219, 219);
}

.cart__quantity{
    margin-right: 20px;
}

.cart__name{
    width: 120px;
    margin-right: 20px;
}

.cart__price{
    width: 50px;
}

.cart__btnDelete{
    background-color: transparent;
    height: 30px;
    border: none;
    outline: none;
    font-size: 30px;
}

.cart__details{
    padding: 20px;
}

.cart__btnEmpty{
    padding: 10px 0px;
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    outline: none;
}

@keyframes bajar{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width:920px) {
    .header{
        height: 230px;
    }
    .navbar{
        display: none;
    }

    .navbar.navbar--responsive{
        display: block;
        position: absolute;
        top: 160px;
        left: 50px;
        width: 200px;
        height: auto;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 12px -5px black;
        animation: bajar 1s;
        z-index: 2;
    }

    .navbar__link{
        width: 100%;
        text-align: left;
        padding: 16px;
    }
    .nav__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:600px){
    .nav__head{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__head .contactos{
        display: none;
    }
    .navbar.navbar--responsive{
        left: 20px;
    }
    .nav__btn{
        margin-left: 20px;
    }
    .nav__search{
        padding: 0px 20px;
    }
}

@media only screen and (max-width:375px){
    .nav__btn{
        margin-left: 20px;
    }
    .cart__content{
        width: 280px;
    }
    .cart__name{
        width: 100px;
    }
}